@model SistemAntrianAlat.Models.Pengajuan

<h2>Tambah Proyek</h2>

<form method="post">
    UnitKerja <br />
    <input name="unitkerja" /><br /><br />
    Alat <br />
    <input name="alat" /><br /><br />
    Alasan <br />
    <input name="alasan" /><br /><br />

    <button type="submit">Simpan</button>
</form>
